In [51]:
x=20

In [52]:
if x>10 :
  print('x>10')

x>10

In [56]:
x=20
if x>10:
  print ('x>10')
if x<10:
  print('x<10')
if x==10:
  print('x==10')

x>10

In [54]:
x=int(input('enter the number'))
if x>10 :
  print('pass')
if x<10:
  print('fail')  
if x==10:
  print('just pass')

enter the number10
just pass

In [55]:
x=int(input('enter the salary'))
if x>250000 :
  print(x*10/100)
if x<250000 :
  print('not taxable')

enter the salary300000
30000.0